# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
!.idea/runConfigurations

.classpath
.project
.settings/
.idea/
gradle/profiles/*
!gradle/profiles/profile-dev-ob.gradle.kts
!gradle/profiles/profile-fritss-itssdev.gradle.kts
!gradle/profiles/profile-devops-ob.gradle.kts
!gradle/profiles/profile-nightly-ob.gradle.kts
!gradle/profiles/profile-ob-sandbox-v*.kts
/certificates
