# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
!.idea/runConfigurations

.classpath
.project
.settings/
.idea/
gradle/profiles/*
!gradle/profiles/profile-default.gradle.kts
/certificates
